<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自游吧</title>
    <link rel="stylesheet" href="./css/nav.css">
</head>
<body>
    <!-- 导航栏 -->
    <div style="background-color:white;width:100%;height:80px;">
        <nav class="w">
        <ul>
            <li>
                <span>成都</span>
                <img src="./images/nav_position.png" alt="定位图标">
            </li>
            <li class="nav_logo">
                <img src="./images/logo_black.png" alt="自游吧logo"/>
            </li>
            <li>
                <a href="./ZIYOU_COM.html" title="首页" style="color: #006600">首页</a>
            </li>
            <li>
                <a href="destination.html" title="目的地">目的地</a>
            </li>
            <li>
                <a href="hotel.html" title="酒店">酒店</a>
            </li>
            <li>
                <a href="travelnote.html" title="游记">自游记</a>
            </li>
            <li>
                <a href="weektravel.html" title="周末游">周末游</a>
            </li>
            <li class="nav_search">
                <img src="./images/btn_search.png" alt="点击搜索"/>
                <input type="text" placeholder="搜索目的地"/>
            </li>
            <li class="login">
                <a href="login.html"  class="nav_login">登录&nbsp;|&nbsp;</a>
                <a href="register.html"  class="nav_login">注册</a>
            </li>
        </ul>
        </nav>
    </div>

    <!-- 尾部 -->
    <footer style="margin-top:100px;">
        <div class="footer1">
            <a href="#">关于自游</a>
            <a href="#">合作伙伴</a>
            <a href="#">免责声明</a>
            <a href="#">友情链接</a>
            <a href="#">联系我们</a>
            <a href="#">自游微博</a>
        </div><br>
        <span>自游吧旅游网</span>
    </footer>
</body>
</html>
